*.py[cod]
target
*~
#*
doc/source/schemas/*.avpr
build

#********** windows template**********

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/


#********** osx template**********

.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


#********** linux template**********

.*
!.gitignore
*~

# KDE
.directory


#********** emacs template**********

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive


#********** vim template**********

.*.sw[a-z]
*.un~
Session.vim


#********** maven template**********

target/

#********** Travis CI **********

!.travis.yml

#********** IntelliJ files ******
*.iml

