# n.b. whenprotobuf version changes, it must be update in three places in this
# file (no macros or variables in YAML).

language: python
python:
  - "2.7"

install:
    - python setup.py install
cache:
    directories:
    - /tmp/proto3.1.0
before_install:
    - sudo apt-get update -qq
    - sudo apt-get install graphviz
    - bash tools/travis-install-protoc.sh 3.1.0
    - export PATH=/tmp/proto3.1.0/bin:$PATH
    - pip install -r python/dev-requirements.txt -c python/constraints.txt
script:
    - make docs
    - flake8 setup.py python scripts tests
    - python -mnose tests

# deploy to pypi when there is a new tag in master after a successful build
deploy:
    provider: pypi
    user: dannycolligan
    password:
        secure: e3eMudmp3P832hXvcOYd6iGvo9b7zOnNxIvMPcor68t7vnLMhP5xXER87a0hR3Y6WJ9vG1LwkBI9ZwrA6Y+p75jEdRhyTwdJwYjYPGdSYCBI8nLMg5JBEMTWig39eAgoZrfmswyKrT7UwHdLQTHlpp9JYFimtdxnT0AohO9pTWs=
    skip_upload_docs: true
    on:
        tags: true
        repo: ga4gh/ga4gh-schemas
